:root {
  --thumbnail-height: 100px;
  --thumbnail-transition-dist: 60px;
}

body {
  background-color: #fff;
  background-attachment: fixed;
  background-position: top 30px left 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/assets/images/dc-metro-min.svg");
  color: #111;
  font: 14px "Palatino", "Times", "Times New Roman", serif;
}

nav {
  font-family: "Helvetica", "Arial", sans-serif;
  margin: 10px 30px 10px clamp(30px, calc(20% - 160px), 90px);

  a {
    font-weight: bold;
    text-decoration: none;
    padding: 0 2px;
  }

  .internal {
    font-size: 24px;
    line-height: 1.4em;

    a {
      background: #568;
      color: #eef;
      margin-right: 24px;
    }

    margin-bottom: 10px;
  }

  .external {
    font-size: 20px;
    line-height: 1.4em;

    a {
      background: #dde;
      color: #567;
      margin-right: 8px;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  color: #555;
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
  color: #777;
}

main {
  border: 4px solid #DAE0EA;
  background: #fff;
  margin: 30px 30px 30px clamp(30px, calc(20% - 160px), 90px);
  max-width: clamp(600px, 60%, 700px);
  padding: 20px;
}

.project-block {
  border: 2px solid #eee;
  margin: 16px 0;
  height: var(--thumbnail-height);
  overflow: hidden;
  position: relative;

  a, a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
    color: inherit;
  }

  .project-link {
    background-color: #f6f6f9;
    display: flex;
    justify-content: center;
    align-items: center;

    width: var(--thumbnail-transition-dist);
    height: var(--thumbnail-height);
    position: relative;
    margin: 0;
  }

  .project-link,
  .project-link:visited {
    span {
      background-color: #c0c0c9;
      border: 1px dashed #c5cacf;
      color: #fff;
      font-family: "Helvetica", "Arial", sans-serif;
      font-size: 13px;
      font-weight: bold;
      margin: 0;
      padding: 5px;
      text-transform: uppercase;
    }
  }

  .project-link span:hover,
  .project-link span:focus,
  .project-link span:active {
    background-color: #ccc;
    color: #fff;
  }

  .project-thumbnail {
    display: block;
    height: var(--thumbnail-height);
    position: absolute;
    left: 0;
    top: 0;
    transition-property: left;
    transition-duration: 0.5s;
    transition-timing-function: easeOutCubic;
    transition-delay: 0s;
  }

  .project-title {
    display: block;
    width: calc(100% - var(--thumbnail-height));
    height: var(--thumbnail-height);
    position: absolute;
    left: var(--thumbnail-height);
    top: 0;
    margin: 0;

    h2 {
      background-color: rgba(245, 245, 245, 0.5);
      border-left: 2px solid rgba(220, 220, 220, 0.5);
      color: #567;
      display: block;
      font-size: clamp(8px, 2.5vw, 16px);
      font-weight: bold;
      line-height: 1.4;
      margin: 0;
      overflow: hidden;
      padding: 6px;
      transition-property: background-color;
      transition-duration: 0.5s;
      transition-timing-function: easeOutCubic;
      transition-delay: 0s;
      width: calc(100% - 14px);
      height: calc(100% - 12px);

      small {
        color: #222;
        display: block;
        font-size: max(8px, 80%);
        font-weight: normal;
        line-height: 1.2;
      }
    }
  }
}

.project-block:hover {
  .project-thumbnail {
    left: var(--thumbnail-transition-dist);
  }

  .project-title h2 {
    background-color: rgba(250, 250, 250, 0.9);
  }
}

.thumbnail-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  margin: 0;

  img {
    height: calc(var(--thumbnail-height) + 2px);
    border: 1px solid #ccc;
  }
}