<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }} - {{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    <nav>
      <div class="internal">
        <a href="/">robert gove</a>
        <a href="/projects/">projects</a>
        <a href="/blogs/">blogs</a>
        <a href="/publications/">publications</a>
        <a href="/cv/">cv</a>
      </div>
      <div class="external">
        <a href="https://twitter.com/rpgove">twitter</a>
        <a href="https://www.linkedin.com/in/robert-gove-6aa50bb">linkedin</a>
        <a href="https://scholar.google.com/citations?user=9FvdE7UAAAAJ">scholar</a>
        <a href="https://github.com/rpgove">github</a>
        <a href="https://bl.ocks.org/rpgove">bl.ocks</a>
      </div>
    </nav>
    <main>
      {{ content }}
    </main>
  </body>
</html>